.box#box
  .block.empty-block.top.left#1
  .block.empty-block.top.h-middle#2
  .block.empty-block.top.right#3
  .block.empty-block.t-middle.left#4
  .block.empty-block.t-middle.h-middle#5
  .block.empty-block.t-middle.right#6
  .block.empty-block.v-middle.left#7
  .block.empty-block.v-middle.h-middle#8
  .block.empty-block.v-middle.right#9
  .block.empty-block.b-middle.left#10
  .block.empty-block.b-middle.h-middle#11
  .block.empty-block.b-middle.right#12
  .block.empty-block.bottom.left#13
  .block.empty-block.bottom.h-middle#14
  .block.empty-block.bottom.right#15
.footer#footer A Pen by 
  a(href='https://codepen.io/boberoo', target="_blank") Maya Opperman